<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>Add a New Product</h3>
            <!-- <pre>{{product | json}}</pre> -->

            <div class="card">
                <h5 class="text-center mb-4">Enter your product Information</h5>
                <form class="form-card" (ngSubmit)="Addproduct()">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">ID<span class="text-danger"> *</span></label>
                            <input type="number" [(ngModel)]="product.id" id="id" name="id"
                                placeholder="Enter ID product">
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3"> Name<span class="text-danger"> *</span></label>
                            <input type="text" [(ngModel)]="product.name" id="name" name="name"
                              placeholder="Enter your Product name" required>
                          <!-- <div *ngIf="name.invalid " class="alert alert-danger">

                                <div *ngIf="name.errors?">
                                    Name is required.
                                </div>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div> -->
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Price<span class="text-danger"> *</span></label>
                                <input type="number" [(ngModel)]="product.prix" id="prix" name="prix" placeholder="">
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Phone number<span class="text-danger"> *</span>
                                </label>
                                <!-- <input type="text" id="mobile" [(ngModel)]="product.phone"  name="mobile" placeholder="" >  -->
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3"> Photo<span class="text-danger"> *</span></label>
                                <input type="string" class="form-control" (onchange)="encodeImageFileAsURL(this)"
                                    [(ngModel)]="product.photo" id="photo" name="photo" />

                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-check form-switch">
                                <!-- <input class="form-check-input" [(ngModel)]="product.ispromotion" type="checkbox"  id="ispromotion"> -->
                                <input class="form-check-input" [checked]="product.ispromotion"
                                    (change)="product.ispromotion=!product.ispromotion" type="checkbox">
                                <label class="form-check-label" for="ispromotion">Promoted</label>
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-12 flex-column d-flex">
                                <label class="form-control-label px-3">What's the Description for the product?<span
                                        class="text-danger"> *</span>
                                </label> <textarea type="text" [(ngModel)]="product.description" id="description"
                                    name="description" placeholder=""></textarea>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="form-group col-sm-6">
                                <button class="btn btn-danger me-3" routerLink="/product">Cancel</button>
                                <button type="submit" class="btn btn-success">Add</button>

                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>