<div class="row py-5 ms-5">
    <div class="col-lg-4 mx-3">
      <img id="began" src="{{data.photo}}" alt="" style="height: 300px; width:300px;">
    </div>
    
    <div class="col-lg-5 pt-5">
      <h2><strong>{{data.name}}</strong></h2>
      <span > <strong>{{data.prix | currency}} </strong></span>
    <input type="number" value="1"><br>
    <button class="btn btn-success mt-3 " (click)="add2(data)">Add To Cart</button>
    <div class="detail pt-5">
      <h3>Description Product</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo soluta quos voluptate provident expedita maxime voluptatum asperiores exercitationem. Repellendus repudiandae dignissimos in quasi eum accusamus tenetur velit recusandae dicta praesentium?</p>
    </div>
    </div>
  </div>