<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 2;">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand fw-bold text-danger" href="#">TASTY FOOD</a>
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-bold" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/product">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/home/#footer">Contact</a>
        </li>
      </ul>
      <!-- Left links -->
      <div class="d-flex align-items-center">
        <span ><i class="fa-solid fa-cart-shopping fs-4 btn me-2 " routerLink="/cart"></i></span>
        <button type="button" class="btn btn-secondary btn-sm px-3 me-2" routerLink="/login">  Login  </button>
        <button type="button" class="btn btn-primary btn-sm me-3" routerLink="/signup"> Sign up </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
